:root {
  --color-navyblue: #2e2f42;
  --color-iris: #4d5ae5;
  --color-cornflower: #e7e9fc;
  --color-white: #ffffff;
  --color-ocean: #404bbf;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-lightslate: #bebf99;
  --color-cloud: #f4f4fd;
  --color-grey: #4e5754;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  background-color: var(--color-white);
}
.logo-top {
  font-family: 'Raleway';
  color: var(--color-navyblue);
}
.logo-bottom {
  font-family: 'Raleway';
  color: var(--color-cloud);
}

span {
  color: var(--color-iris);
}

.contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navyblue);
}
.contacts:hover,
.email:hover,
.phone:hover,
.contacts:focus,
.email:focus,
.phone:focus {
  color: var(--color-ocean);
}
.email,
.phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.list {
  list-style-type: none;
}
.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navyblue);
}
.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.small-letters {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5px;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.top-section {
  background-color: var(--color-navyblue);
}
.header1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cornflower);
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}
.button-1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
  cursor: pointer;
}
.button-1:hover,
.button-1:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}

.link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.team {
  background-color: var(--color-cloud);
}
.photos {
  background-color: var(--color-white);
}
footer {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 1440px;
  height: 310px;
  left: 0px;
  top: 1764px;
  color: #e7e9fc;
  background-color: var(--color-navyblue);
}
