:root {
  --color1: #2e2f42;
  --color2: #e5e5e5;
  --color3: #4d5ae5;
  --color4: #e7e9fc;
  --color5: #ffffff;
  --color6: #d81a1a;
  --color7: #404bbf;
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--color1);
  background-color: var(--color2);
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.button {
  cursor: pointer;
  color: var(--color3);
  background-color: var(--color4);
}
.button:hover {
  color: var(--color5);
  background-color: var(--color7);
}
.link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.contacts:hover,
.contacts:focus {
  color: var(--color6);
}
.button-1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color5);
  background-color: var(--color3);
}
.button-1:hover,
.button-1:focus {
  color: var(--color6);
  background-color: var(--color5);
}
footer > .text {
  color: #000;
}
