:root {
  --color-navyblue: #2e2f42;
  --color-iris: #4d5ae5;
  --color-cornflower: #e7e9fc;
  --color-white: #ffffff;
  --color-ocean: #404bbf;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-lightslate: #bebf99;
  --color-cloud: #f4f4fd;
  --color-grey: #4e5754;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  background-color: var(--color-white);
}
.logo {
  font-family: 'Raleway';
  color: var(--color-navyblue);
}
.contacts {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navyblue);
}
.email,
.phone {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.list {
  list-style-type: none;
}
.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navyblue);
}
.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.top-section {
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;
  background-color: var(--color-navyblue);
}
.header1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.button-1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-iris);
}
.button-1:hover,
.button-1:focus {
  color: var(--color-white);
  background-color: var(--color-ocean);
}
.button {
  cursor: pointer;
  color: var(--color3);
  background-color: var(--color4);
}
.button:hover {
  color: var(--color5);
  background-color: var(--color7);
}
.link {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.contacts:hover,
.contacts:focus {
  color: var(--color6);
}

footer > .text {
  color: #000;
}
